.overlay{
    min-height: 50vh;
    width: 50%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    width: 300px;
    height: 250px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}
.overlay-inner .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 10px;
    background-color: red;
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img {
    margin-right: 20px;
    width: 90px;
    height: 100px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: aquamarine;
}
.overlay-inner .inner-box h4{
    color: red;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 50px;
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.overlay-inner .descriptioon{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}